@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "@fontsource-variable/inter";
@import "@fontsource-variable/playfair-display";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Theme Fonts */
  --font-sans: "Inter Variable", sans-serif;
  --font-display: "Playfair Display Variable", serif;

  /* Parroquia Theme Colors */
  --color-background: #fafaf8;
  --color-primary: #efd775;
  --color-foreground: #1e3a5f;
}

@layer base {
  body {
    @apply bg-background font-sans;
  }
}
